USE [master]
GO
/****** Object:  Database [Baliza]    Script Date: 06/16/2016 13:52:18 ******/
CREATE DATABASE [Baliza] ON  PRIMARY 
( NAME = N'Baliza', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLMBI\MSSQL\DATA\Baliza.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Baliza_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLMBI\MSSQL\DATA\Baliza_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Baliza].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Baliza]
GO
/****** Object:  Table [dbo].[zona]    Script Date: 06/16/2016 13:52:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[zona](
	[id_zona] [int] IDENTITY(1,1) NOT NULL,
	[nombre_zona] [varchar](255) NULL,
 CONSTRAINT [PK_zona] PRIMARY KEY CLUSTERED 
(
	[id_zona] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[baliza]    Script Date: 06/16/2016 13:52:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[baliza](
	[id_baliza] [int] IDENTITY(1,1) NOT NULL,
	[cod_baliza] [varchar](255) NULL,
	[fk_zona] [int] NULL,
 CONSTRAINT [PK_baliza] PRIMARY KEY CLUSTERED 
(
	[id_baliza] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_baliza_zona]    Script Date: 06/16/2016 13:52:19 ******/
ALTER TABLE [dbo].[baliza]  WITH CHECK ADD  CONSTRAINT [FK_baliza_zona] FOREIGN KEY([fk_zona])
REFERENCES [dbo].[zona] ([id_zona])
GO
ALTER TABLE [dbo].[baliza] CHECK CONSTRAINT [FK_baliza_zona]
GO
