USE [master]
GO
/****** Object:  Database [CRM]    Script Date: 06/16/2016 13:54:22 ******/
CREATE DATABASE [CRM] ON  PRIMARY 
( NAME = N'CRM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLMBI\MSSQL\DATA\CRM.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CRM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLMBI\MSSQL\DATA\CRM_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRM]
GO
/****** Object:  Table [dbo].[perfil_cliente]    Script Date: 06/16/2016 13:54:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[perfil_cliente](
	[id_perfil_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
 CONSTRAINT [PK_perfil_cliente] PRIMARY KEY CLUSTERED 
(
	[id_perfil_cliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[departamento]    Script Date: 06/16/2016 13:54:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[departamento](
	[id_departamento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
 CONSTRAINT [PK_departamento] PRIMARY KEY CLUSTERED 
(
	[id_departamento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[promocion]    Script Date: 06/16/2016 13:54:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[promocion](
	[id_promocion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
	[texto] [varchar](255) NULL,
	[fk_perfil_cliente] [int] NULL,
	[fk_departamento] [int] NULL,
 CONSTRAINT [PK_promocion] PRIMARY KEY CLUSTERED 
(
	[id_promocion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 06/16/2016 13:54:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
	[texto] [varchar](255) NULL,
	[fk_perfil_cliente] [int] NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_cliente] ON [dbo].[cliente] 
(
	[id_cliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_promocion_departamento]    Script Date: 06/16/2016 13:54:24 ******/
ALTER TABLE [dbo].[promocion]  WITH CHECK ADD  CONSTRAINT [FK_promocion_departamento] FOREIGN KEY([fk_departamento])
REFERENCES [dbo].[departamento] ([id_departamento])
GO
ALTER TABLE [dbo].[promocion] CHECK CONSTRAINT [FK_promocion_departamento]
GO
/****** Object:  ForeignKey [FK_promocion_perfil_cliente]    Script Date: 06/16/2016 13:54:24 ******/
ALTER TABLE [dbo].[promocion]  WITH CHECK ADD  CONSTRAINT [FK_promocion_perfil_cliente] FOREIGN KEY([fk_perfil_cliente])
REFERENCES [dbo].[perfil_cliente] ([id_perfil_cliente])
GO
ALTER TABLE [dbo].[promocion] CHECK CONSTRAINT [FK_promocion_perfil_cliente]
GO
/****** Object:  ForeignKey [FK_cliente_perfil_cliente]    Script Date: 06/16/2016 13:54:24 ******/
ALTER TABLE [dbo].[cliente]  WITH CHECK ADD  CONSTRAINT [FK_cliente_perfil_cliente] FOREIGN KEY([fk_perfil_cliente])
REFERENCES [dbo].[perfil_cliente] ([id_perfil_cliente])
GO
ALTER TABLE [dbo].[cliente] CHECK CONSTRAINT [FK_cliente_perfil_cliente]
GO
